.contact_title {
  text-align: center;
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}

.get_in_touch {
  margin-bottom: var(--mb-3);
}

.contact_form_div {
  position: relative;
  height: 4rem;
  margin-bottom: var(--mb-2);
}

.contact_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.contact_content {
  width: 50%;
}

.contact_form_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: 2px solid rgba(0, 0, 0, 0.5);
  color: var(--title-color-dark);
  outline: none;
  border-radius: 0.75rem;
  padding: 1.5rem;
  z-index: 1;
}

.contact_form_input:focus {
  border-color: rgba(253, 16, 16, 0.5);
}

.contact_form_tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  padding: 0.25rem;
  font-size: var(--smaller-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  z-index: 10;
}

.error-name {
  color: red;
  font-size: 12px;
  position: absolute;
  top: 4.2rem;
  left: 1.25rem;
}

.error-mail {
  color: red;
  font-size: 12px;
  position: absolute;
  top: 4.2rem;
  left: 1.25rem;
}

.error-message {
  color: red;
  font-size: 12px;
  position: absolute;
  top: 10.25rem;
  left: 1.25rem;
}

.contact_form_area {
  height: 10rem;
}

.contact_form_area textarea {
  resize: none;
}

.message_sent {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-align: center;
  font-size: var(--tiny-font-size);
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  color: var(--body-color);
  left: 10%;
  bottom: 13%;
  transform: scale(0);
  transform-origin: bottom;
  transition: all 300ms ease-in-out;
}

.submit_button {
  margin-top: 2.5rem;
  gap: 0.5rem;
}

.active {
  transform: scale(1);
}

.contact_form {
  position: relative;
}

/*=========================== BREAKPOINTS  ====================*/

/*Large Devices*/

@media screen and (max-width: 992px) and (min-width: 769px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
  .button {
    padding: 1rem 1.75rem;
  }
  .button_icon {
    width: 22px;
    height: 22px;
  }
  .message_sent {
    left: 10%;
    bottom: 13%;
  }
}

/*Medium Devices*/

@media screen and (max-width: 768px) {
  .message_sent {
    left: 15%;
    bottom: 10%;
  }
}

@media screen and (max-width: 576px) {
  .contact_content {
    width: 70%;
  }
  .button {
    padding: 1rem 1.75rem;
  }
  .message_sent {
    left: 15%;
    bottom: 13%;
  }
}

/*Small Devices*/

@media screen and (max-width: 350px) {
  .message_sent {
    left: 17%;
    bottom: 17%;
  }
}
